* {
    margin: 0;
    padding: 0;

}

body {
    background: rgb(0,36,35);
    background: linear-gradient(90deg, rgba(0,36,35,0.6727065826330532) 0%, rgba(9,115,121,0.7567401960784313) 41%, rgba(0,164,255,0.11528361344537819) 100%);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vh;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: #000000;
    background-color: #9cf586;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #170080;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
#msg {
    color: #f72004;
    font-size: 8vmin;
    font-weight: 800;
}
  
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
  
.hide {
    display: none;
}